body {
    font-family: Verdana, Geneva, Tahoma, sans-serif,;
  }
  header {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(236, 234, 234);
  }
  h1 {
    margin: 0;
  }
  nav {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    display: flex;
    align-items: center;
  }
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  nav li {
    margin: 0 10px;
  }
  nav a {
    text-decoration: none;
    color: rgb(236, 234, 234);
    font-size: 18px;
  }
  nav .menu-icon {
    display: none;
  }
  nav .logo {
    font-size: 22px;
    font-weight: bold;
    margin-right: 20px;
  }
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  li {
    width: 30%;
    margin-bottom: 20px;
  }
  li .card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  li .card img {
    width: 100%;
    height: auto;
  }
  li .card h4 {
    margin: 10px;
  }
  li .card p {
    margin: 10px;
    font-size: 14px;
    color: grey;
  }
  footer {
    text-align: center;
    padding: 20px;
  }
  @media (max-width: 600px) {
    
    nav ul {
        flex-direction: column;
      }
      nav li {
        margin: 10px 0;
      }
      li {
        width: 100%;
      }
      nav .menu-icon {
        display: block;
        cursor: pointer;
      }
      nav ul.collapsed {
        display: none;
      }
    }
  